@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    --radius: 0.625rem;

    --background: 0 0% 100%;
    --foreground: 260 5% 20%;

    --card: 0 0% 100%;
    --card-foreground: 260 5% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 260 5% 20%;

    --primary: 260 6% 21%;
    --primary-foreground: 0 0% 98%;

    --secondary: 260 0% 96%;
    --secondary-foreground: 260 6% 21%;

    --muted: 260 0% 96%;
    --muted-foreground: 260 2% 55%;

    --accent: 260 0% 96%;
    --accent-foreground: 260 6% 21%;

    --destructive: 20 70% 50%;

    --border: 260 0% 92%;
    --input: 260 0% 92%;
    --ring: 260 2% 70%;

    --chart-1: 40 100% 60%;
    --chart-2: 200 50% 60%;
    --chart-3: 240 40% 45%;
    --chart-4: 90 90% 75%;
    --chart-5: 70 80% 65%;

    --sidebar: 0 0% 98%;
    --sidebar-foreground: 260 5% 20%;
    --sidebar-primary: 260 6% 21%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 260 0% 96%;
    --sidebar-accent-foreground: 260 6% 21%;
    --sidebar-border: 260 0% 92%;
    --sidebar-ring: 260 2% 70%;
  }

  .dark {
    --background: 260 5% 20%;
    --foreground: 0 0% 98%;

    --card: 260 6% 21%;
    --card-foreground: 0 0% 98%;

    --popover: 260 6% 21%;
    --popover-foreground: 0 0% 98%;

    --primary: 260 0% 92%;
    --primary-foreground: 260 6% 21%;

    --secondary: 260 6% 27%;
    --secondary-foreground: 0 0% 98%;

    --muted: 260 6% 27%;
    --muted-foreground: 260 2% 70%;

    --accent: 260 6% 27%;
    --accent-foreground: 0 0% 98%;

    --destructive: 20 70% 50%;

    --border: 0 0% 100% / 10%;
    --input: 0 0% 100% / 15%;
    --ring: 260 2% 70%;

    --chart-1: 260 100% 60%;
    --chart-2: 160 60% 55%;
    --chart-3: 70 80% 65%;
    --chart-4: 300 70% 70%;
    --chart-5: 20 80% 60%;

    --sidebar: 260 6% 21%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 260 100% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 260 6% 27%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 100% / 10%;
    --sidebar-ring: 260 2% 70%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
